body {
  margin: 0;

  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
  position: fixed;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1; /* TODO Solve this in HTML */
  color: black;
}

a,
button,
input,
select {
  pointer-events: auto;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: #ffffff;
  border: 0;
  color: #000000;
  padding: 16px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}

#joystick-wrapper {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: center;
  display: flex;
  border-radius: 100%;
  visibility: hidden;
  justify-content: center; /* [2] */
  align-items: center;
  z-index: 10;
  opacity: 0.2;
}

.joystick {
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  height: 35%;
  user-select: none;
  width: 35%;
  margin: 0 auto;
  z-index: 10;
  opacity: 0.5;
}

#preload-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
}

.postload {
  visibility: hidden;
  display: none;
}

.start-page-content-div {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

#start-button {
  margin: 0 auto;
  background-color: #f00;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: none;
}

.trinity-rings-spinner,
.trinity-rings-spinner * {
  box-sizing: border-box;
}

.trinity-rings-spinner {
  height: 250px;
  width: 250px;
  padding: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
}
.trinity-rings-spinner .circle {
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 10px solid #8eff0a;
}

.trinity-rings-spinner .circle:nth-child(1) {
  height: 250px;
  width: 250px;
  animation: trinity-rings-spinner-circle1-animation 1.5s infinite linear;
  border-width: 10px;
}
.trinity-rings-spinner .circle:nth-child(2) {
  height: calc(250px * 0.65);
  width: calc(250px * 0.65);
  animation: trinity-rings-spinner-circle2-animation 1.5s infinite linear;
  border-width: 8px;
}
.trinity-rings-spinner .circle:nth-child(3) {
  height: calc(250px * 0.2);
  width: calc(250px * 0.2);
  animation: trinity-rings-spinner-circle3-animation 1.5s infinite linear;
  border-width: 6px;
}

@keyframes trinity-rings-spinner-circle1-animation {
  0% {
    transform: rotateZ(20deg) rotateY(0deg);
  }
  100% {
    transform: rotateZ(100deg) rotateY(360deg);
  }
}
@keyframes trinity-rings-spinner-circle2-animation {
  0% {
    transform: rotateZ(100deg) rotateX(0deg);
  }
  100% {
    transform: rotateZ(0deg) rotateX(360deg);
  }
}
@keyframes trinity-rings-spinner-circle3-animation {
  0% {
    transform: rotateZ(100deg) rotateX(-360deg);
  }
  100% {
    transform: rotateZ(-360deg) rotateX(360deg);
  }
}
